@media only screen and (min-width: 40rem) {

    nav ul,
    nav.open ul {
        flex-direction: row;
        display: flex;
    }

    nav ul li {
        flex: 1;
    }

    #navButton {
        display: none;
    }

    .middle-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .weather {
        display: none;
    }

    .business {
        width: 100%;
    }

    .hero span{
        font-size: 1.5rem;
    }

    .grid-container {
        grid-template-columns: 1fr 3fr;
    }

    .image-gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .image-gallery :hover{
        box-shadow: 0 0 50px rgb(0, 0, 49);
    }
}