/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body.dark{
  background-color: #1c1c1c;
}

/* Header */
header {
  background-color: #05192d;
  padding: 30px;
  text-align: center;
  position: relative;
}

header img {
  vertical-align: middle;
  margin-right: 20px;
}

header span {
  color: white;
  font-size: 25px;
  vertical-align: middle;
}

#darkButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 30px;
  cursor: pointer;
  background-color: #50759a;
  border-radius: 15px;
}

/* Navigation */
nav {
  background-color: #62521c;
}

#myButton::before {
  content: "\2630";
}

#myButton {
  font-size: 40px;
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-align: left;
  padding-left: 15px;
  padding-bottom: 7px;
}

nav ul {
  list-style: none;
  display: flex;
  width: 100%;
  flex-direction: column;
  display: none;
}

nav ul li {
  flex: 1;
}

nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 20px;
  height: 100%;
  font-weight: 400;
  font-size: 20px;
}

nav .active {
  background-color: rgba(0, 0, 0, 0.4);
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

#myButton.open::before{
  content: 'x';
}

nav.open ul {
  display: block;
}

/* Main Content Layout */
main {
  max-width: 1000px;
  margin: auto;
  text-align: center;
  font-weight: 300;
  padding: 20px;
}

main h1 {
  font-size: 1.5rem;
  text-align: left;
  margin-left: 11px;
  font-weight: 100;
  position: relative;
  left: 0;
}

hr {
  width: 97%;
  margin: 0px auto;
  border-top: 1px solid #05192d;
}

main.dark h1 {
  color: white;
}

/* Cards Layout */
.card {
  border: 1px solid rgba(107, 107, 107, 0.5);
  border-radius: 5px;
  margin: 1rem 2vw;
  background-color: rgb(255, 255, 255);
}

.card h2 {
  border: 1px solid #05192d;
  background-color: #092d51;
  padding: 10px;
  color: rgb(255, 255, 255);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  margin: 0;
}

.card ul {
  list-style: none;
  margin: 20px;
  font-size: 1.1rem;
}

.card ul li {
  margin: 10px;
  text-align: left;
}

.card ul li a {
  text-decoration: none;
}

.card ul li a:hover {
  color: 	#00008B; 
  text-decoration: underline;
}

.card p {
  font-size: 1.1rem;
  padding: 10px;
  margin: 10px;
}

.card.dark {
  background-color: #1c1c1c;
}

.card.dark ul{
  color: rgb(255, 255, 255);
}

.card.dark p{
  color: rgb(255, 255, 255);
}

.card.dark ul li a {
  color: #1E90FF;
}

.card.dark ul li a:hover {
  color: #87CEFA; 
  text-decoration: underline;
}

body.dark a:visited {
  color: #A9A9A9; 
}

/* Footer */
footer {
  background-color: #05192d;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

footer p {
  margin: 15px;
}
