:root {
	--req: solid 8px red;
    --val: solid 8px green;
    --mw: 400px;
}

.form fieldset {
    margin: 2rem 0;
    border: 1px solid #9d9d9d;
    border-radius: 6px;
    padding: .5rem 2%;
}

.form legend {
    color: rgb(20, 0, 196);
    padding: 0 .5rem;
}

.form label {
    display: block;
    padding-top: 1rem;
    color: rgb(13, 0, 110);
    font-size: .9rem;
    text-align: left;
}

.form div {
    padding: 1px;
    color: #ff0000;
    font-size: 1rem;
}

.form input[type="text"], 
.form input[type="password"],
.form input[type="email"],
.form input[type="range"] {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .76rem;
    color: #555;
    width: 100%;
    max-width: var(--mw);
}

.form input[type="submit"] {
    border: none;
    background-image: linear-gradient(#9c2c13, #6f200e);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: var(--mw);
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
    appearance: none;
}

.form input:required {
    border-left: var(--req);
}

.form input:required:valid {
    border-left: var(--val);
}


#rangevalues {
	display: flex;
	margin: 0 0 0 18px;
	width: 400px;
    margin-top: -9px;
}

#rangevalues option {
	flex: 1 1 auto;
}