@media only screen and (min-width: 35rem) {

  header span {
    font-size: 2rem;
  }

  .card-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .card {
    margin: 1rem 1vw;
    box-shadow: 1px 1px 10px black;
  }

  nav ul,
  nav.open ul {
    flex-direction: row;
    display: flex;
  }

  nav ul li {
    flex: 1;
  }

  #hamburger {
    display: none;
  }

  main {
    margin-left: 10px;
    margin-right: 10px;
  }

  .hero span {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 10px;
    font-size: 20px;
  }

  iframe {
    box-shadow: 1px 1px 10px black;
  }
}

@media only screen and (min-width: 60rem) {
  main {
    margin-left: 100px;
    margin-right: 100px;
  }

}

@media only screen and (min-width: 80rem) {
  main {
    margin-left: 150px;
    margin-right: 150px;
  }

}